@import "./variables.scss";
.blog-cards{
    padding: 40px 0;
    @media (min-width: $desktops) {
        padding: 120px 0 40px;
    }
    & > .container{
        @media (min-width: $fullHdDesktops) {
            position: relative;
        }
    }
    h2{
        z-index: 1;
        &.title{
            font-family: Lato;
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
            line-height: 24px;
            color: #000000;

            margin-bottom: 60px;
            padding-left: 10px;
            width: 175px;
            margin-left: 60px;
            @media (min-width: $tablets){
                font-size: 30px;
                line-height: 46px;
                width: 400px;
            }
            @media (min-width: $desktops) {
                font-size: 42px;
                line-height: 50px;
                margin-bottom: 80px;
                width: unset;
                margin-left: unset;
            }
        }
    }
    .cards{
        padding: 20px 0;
        z-index: 1;
    }
    .card{
        background-color: #F3F3F3;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
        margin-bottom: 15px;
        @media (min-width: $desktops) {
            padding: 35px 29px;
            margin-bottom: 0;
        }
        img.img-header{
            width: 100%;
            height: 130px;
            object-fit: cover;
            margin-bottom: 20px;
            @media (min-width: $tablets) {
                height: 170px;
            }
            @media (min-width: $desktops) {
                height: 227px;
            }
        }
        h3.title{
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            color: #000000;
            max-width: 90%;
            margin-bottom: 5px;
            @media (min-width: $tablets) {
                margin-bottom: 17px;
                font-size: 16px;
                line-height: 20px;
            }
            @media (min-width: $desktops) {
                margin-bottom: 20px;
                font-size: 18px;
                line-height: 22px;
            }
        }
        div.text p{
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 8px;
            line-height: 10px;
            color: #3D3B3B;
            margin-bottom: 0;
            @media (min-width: $tablets) {
                font-size: 12px;
                line-height: 14px;
            }
            @media (min-width: $desktops) {
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
    .vertical-pill{
        position: absolute;
        border-radius: 100px;
        min-width: 10px;
        min-height: 20px;
        z-index: -1;
        ///
        left: 20px;
        width: 50px;
        height: 250px;
        transform: translateY(-110px);
        @media (min-width: $tablets) {
            left: 40px;
            width: 50px;
            height: 300px;
            transform: translateY(-190px);
        }
        @media (min-width: $desktops) {
            left: unset;
            right: 123px;
            width: 211px;
            height: 1100px;
            transform: translateY(-100px);
        }
        &.red{
            background: #D74149;
        }
    }
    a{
        &:hover{
            text-decoration: none;
        }
    }
    .container{
        @media (min-width: $hdDesktops) {
            max-width: 1240px;
        }
    }
}