@import "./variables.scss";
$cinza: #F3F3F3;
.backwhite{
    background-color: white;
    @media (min-width: $desktops) {
        background-color: $cinza;
    }
}
.absolute.backwhite{
    width: 95%;
    height: 500px;
    position: absolute;
}
.contato{
    padding-top: 150px;
    @media (min-width: $desktops) {
        padding-top: 180px;
    }
    h1{
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 31px;
        line-height: 37px;
        width: 215px;
        margin-bottom: 25px;
        margin-right: auto;
        margin-left: auto;
        @media (min-width: $tablets) {
            font-size: 40px;
            line-height: 46px;
            text-align: center;
            margin-bottom: 40px;
            width: unset;
        }
        @media (min-width: $desktops) {
            font-size: 48px;
            line-height: 58px;
            text-align: center;
            width: unset;
            max-width: 750px;
            margin-bottom: 60px;
        }
    }
    p{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        @media (min-width: $tablets) {
            font-size: 22px;
            line-height: 38px;
            margin-bottom: 120px;
            width: 440px;
        }
        @media (min-width: $desktops) {
            font-size: 33px;
            line-height: 40px;
            text-align: center;
        }
        &.detail{
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            text-align: left;

            color: #5F4A87;
            margin-top: 100px;
            margin-bottom: 0;
            padding-bottom: 90px;
            width: 240px;
            margin-right: auto;
            margin-left: auto;
            @media (min-width: $tablets) {
                font-size: 24px;
                line-height: 32px;
                text-align: left;
                margin-top: 75px;
                width: 300px;
                margin-left: auto;
                margin-right: 50px;
            }
            @media (min-width: $desktops) {
                font-weight: bold;
                font-size: 36px;
                line-height: 43px;
                margin-top: 120px;
                width: unset;
                max-width: 490px;
                margin-right: unset;
                margin-left: auto;
                padding-bottom: 30px;
            }
        }
        b, span, strong{
            font-size: inherit;
        }
    }
    .first-text{
        margin-bottom: 100px;
        color: #5F4A87;
        @media (min-width: $desktops) {
            font-size: 24px;
            line-height: 34px;
            margin-bottom: 60px;
            width: unset;
        }
        p{
            margin-bottom: 0;
            width: 220px;
            margin-left: auto;
            margin-right: auto;
            @media (min-width: $tablets) {
                width: 410px;
            }
            &:nth-child(n+2){
                width: 285px;
                @media (min-width: $tablets) {
                    width: 520px;
                }
            }
        }
    }
    h2{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        margin-bottom: 40px;
        width: 210px;
        @media (min-width: $tablets) {
            font-size: 28px;
            line-height: 43px;
            margin-bottom: 100px;
            width: 590px;
        }
        @media (min-width: $desktops) {
            font-size: 36px;
            line-height: 43px;
            margin-bottom: 100px;
            width: 570px;
        }
    }
    form{
        background: #70B968;
        box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        text-align: center;
        width: 285px;
        @media (min-width: $tablets) {
            width: 500px;
        }
        @media (min-width: $desktops) {
            width: 600px;
        }
        input:first-child{
            margin-top: 20px;
            @media (min-width: $tablets) {
                margin-top: 40px;
            }
            @media (min-width: $desktops) {
                margin-top: 40px;
            }
        }
        input, textarea{
            background-color: #FFFFFF;
            border: 1px solid rgba(66, 82, 110, 0.25);
            box-shadow: inset 0px 1px 3px #DDDDDD;
            border-radius: 60px;
            margin: 6px auto;
            padding: 6px 10px;
            font-weight: bold;
            font-size: 8px;
            line-height: 10px;
            color: #878787;
            @media (min-width: $tablets) {
                margin: 10px auto;
                padding: 12px 15px;
                font-size: 14px;
                line-height: 18px;
            }
            @media (min-width: $desktops) {
                margin: 13px auto;
                padding: 15px 30px;
                font-size: 18px;
                line-height: 22px;
            }
            &::placeholder, option{
                color: #878787;
            }
        }
        textarea{
            border-radius: 15px;
            @media (min-width: $tablets) {
                margin-bottom: 30px;
            }
            @media (min-width: $desktops) {
                margin-bottom: 0;
                border-radius: 40px;
            }
        }
        button{
            background: #FAB80E;
            border: 1px solid #CC9C1F;
            border-radius: 33px;;
            font-weight: 900;
            font-size: 8px;
            line-height: 10px;
            text-align: center;
            
            color: #2F0A77;
            padding: 3px 5px;
            text-transform: uppercase;
            margin-bottom: 20px;
            @media (min-width: $tablets) {
                font-size: 14px;
                line-height: 18px;
                padding: 7px 30px;
                margin-bottom: 40px;
            }
            @media (min-width: $desktops) {
                font-size: 18px;
                line-height: 22px;
                padding: 15px 40px;
                margin-bottom: 30px;
            }
        }
    }
}
