@import "./variables.scss";
$cinza: #F3F3F3;
.backwhite{
    background-color: white;
    @media (min-width: $desktops) {
        background-color: $cinza;
    }
}
.absolute.backwhite{
    width: 95%;
    height: 500px;
    position: absolute;
}
.falar-com-um-especialista{
    padding-top: 150px;
    @media (min-width: $desktops) {
        padding-top: 180px;
    }
    h1{
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        width: 270px;
        margin-bottom: 25px;
        @media (min-width: $smallPhones) {
            margin-left: auto;
            margin-right: auto;
        }
        @media (min-width: $tablets) {
            font-size: 40px;
            line-height: 46px;
            text-align: center;
            margin-bottom: 40px;
            width: unset;
        }
        @media (min-width: $desktops) {
            font-size: 48px;
            line-height: 58px;
            max-width: 900px;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 25px;
        }
    }
    p{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        @media (min-width: $tablets) {
            font-size: 22px;
            line-height: 38px;
            margin-bottom: 120px;
            width: 440px;
        }
        @media (min-width: $desktops) {
            font-size: 33px;
            line-height: 40px;
            text-align: center;
        }
        &.first{
            margin-bottom: 190px;
            width: 215px;
            @media (min-width: $smallPhones) {
                margin-bottom: 100px;
                width: 270px;
                margin-left: auto;
                margin-right: auto;
            }
            @media (min-width: $tablets) {
                margin-bottom: 50px;
                width: 500px;
                margin-right: auto;
                margin-left: auto;
                text-align: center;
            }
            @media (min-width: $desktops) {
                margin-bottom: 25px;
                width: unset;
            }
        }
        &.detail{
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            text-align: center;

            color: #5F4A87;
            margin-top: 190px;
            margin-bottom: 0;
            padding-bottom: 30px;
            @media (min-width: $tablets) {
                font-size: 24px;
                line-height: 32px;
                text-align: left;
                margin-top: 75px;
                max-width: 490px;
                margin-left: auto;
            }
            @media (min-width: $desktops) {
                font-size: 36px;
                line-height: 43px;
                text-align: left;
                margin-top: 120px;
                max-width: 490px;
                margin-left: auto;
            }
        }
    }
    h2{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        margin-bottom: 40px;
        width: 210px;
        @media (min-width: $tablets) {
            font-size: 28px;
            line-height: 43px;
            margin-bottom: 100px;
            width: 590px;
        }
        @media (min-width: $desktops) {
            font-size: 36px;
            line-height: 43px;
            margin-bottom: 100px;
            width: 590px;
        }
        b { font-size: inherit;}
    }
    form{
        background: #5F4A87;
        box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        text-align: center;
        width: 235px;
        @media (min-width: $tablets) {
            width: 500px;
        }
        @media (min-width: $desktops) {
            width: 600px;
        }
        input{
            background: #FFFFFF;
            border: 1px solid rgba(66, 82, 110, 0.25);
            box-shadow: inset 0px 1px 3px #DDDDDD;
            border-radius: 60px;
            margin: 5px auto;
            padding: 4px 10px;
            font-weight: bold;
            font-size: 8px;
            line-height: 10px;
            @media (min-width: $tablets) {
                margin: 10px auto;
                padding: 12px 15px;
                font-size: 14px;
                line-height: 18px;
            }
            @media (min-width: $desktops) {
                margin: 13px auto;
                padding: 15px 30px;
                font-size: 18px;
                line-height: 22px;
            }
            &::placeholder{
                color: #878787;
            }
            &:first-child{
                margin-top: 20px;
                @media (min-width: $tablets) {
                    margin-top: 40px;
                }
            }
            &:last-of-type{
                margin-bottom: 16px;
                @media (min-width: $tablets) {
                    margin-bottom: 30px;
                }
                @media (min-width: $desktops) {
                    margin-bottom: 40px;
                }
            }
        }
        button{
            background: #FAB80E;
            border: 1px solid #CC9C1F;
            border-radius: 33px;;
            font-weight: 900;
            font-size: 8px;
            line-height: 10px;
            text-align: center;
            
            color: #2F0A77;
            padding: 3px 5px;
            text-transform: uppercase;
            margin-bottom: 20px;
            @media (min-width: $tablets) {
                font-size: 14px;
                line-height: 18px;
                padding: 7px 30px;
                margin-bottom: 40px;
            }
            @media (min-width: $desktops) {
                font-size: 18px;
                line-height: 22px;
                padding: 15px 40px;
                margin-top: 10px;
                margin-bottom: 40px;
            }
        }
    }
}
