@import '@/assets/scss/variables.scss';
/// @author Vinicius de Santana
$width: 200px;
.loading {
    img{
        width: $width;
        height: $width;
        position: absolute;
        top: 50%;
        margin-top: -$width / 2;
        left: 50%;
        margin-left: -$width / 2;
    }
}