@import './variables.scss';
.people-analytics{
    .content{
        padding-top: 250px;
        padding-bottom: 200px;
        background-color: #F3F3F3;
    }
    h2{
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        display: flex;
        align-items: center;
        letter-spacing: -0.05em;
        margin-bottom: 27px;
    }
    .text{
        *{
            font-family: Lato;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            display: flex;
            align-items: center;
            ///
            width: 101%;
        }
    }
    button{
        font-weight: 900;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        &.badge{
            padding: 9.5px 8px;
            font-size: 13px;
            cursor: pointer;
            @media (min-width: $smallPhones) {
                font-size: 15px;
            }
            @media (min-width: $tablets) {
                padding: 12px 20px;
                font-size: 19px;
            }
            @media (min-width: $desktops) {
                font-size: 25.5px;
            }
        }
        &.purple{
            background: #5F4A87;
            border: 2px solid #5F4A87;
        }
        &:focus{
            outline: none;
        }
    }
    .tr-rotx-180 {
        transform: rotateX(180deg);
    }
    .tr-roty-180 {
        transform: rotateY(180deg);
    }
    .vertical-center{
        height: fit-content;
        margin-top: auto;
        margin-bottom: auto;
    }
    .frame{
        width: 100%;
        height: 75px;
        @media (min-width: $smallPhones) {
            height: 100px;
        }
        @media (min-width: $tablets) {
            height: 150px;
        }
        @media (min-width: $desktops) {
            height: 150px;
        }
    }
}