@import './variables.scss';
$purple: #5F4A87;
$purple_border: #2F0A77;
.rh-poderoso{
    padding-top: 65px;
    padding-bottom: 60px;
    @media (min-width: $desktops) {
        padding-top: 150px;
        padding-bottom: 240px;
    }
    h2{
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 35px;
        @media (min-width: $desktops) {
            max-width: 800px;
            font-size: 42px;
            line-height: 50px;
            margin-bottom: 45px;
        }
    }
    .text{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 93px;
        @media (min-width: $desktops) {
            font-size: 31px;
            line-height: 37px;
            margin-bottom: 42px;
        }
    }
    button{
        margin-right: 20px;
        margin-bottom: 10px;
        @media (min-width: $desktops) {
            margin-bottom: 0px;
        }
        &.badge{
            padding: 6px 8px;
            font-size: 13px;
            cursor: pointer;
            @media (min-width: $smallPhones) {
                font-size: 15px;
            }
            @media (min-width: $tablets) {
                padding: 12px 20px;
                font-size: 19px;
            }
            @media (min-width: $desktops) {
                font-size: 25.5px;
            }
        }
        &.purple-back{
            background: $purple;
            border: 2px solid $purple_border;
        }
        &.purple-outline{
            color: $purple;
            background-color: inherit;
            border: 2px solid $purple;
        }
    }
    img{
        position: absolute;
        top: 200px;
        right: 0;
        width: 800px;
        z-index: -1;
    }
    .vertical-pill{
        position: absolute;
        border-radius: 100px;
        right: 19px;
        width: 54px;
        height: 327px;
        z-index: -2;
        transform: translateY(-35px);
        @media (min-width: $desktops) {
            right: 123px;
            width: 211px;
            height: 900px;
            transform: translateY(-150px);
        }
        &.blue{
            background: #00C9DB;
        }
    }
    .col-lg-70{
        @media (min-width: $desktops) {
            flex: 0 0 70%;
            max-width: 70%;
        }
    }
}