@import './variables';
.solucao-para-empresas{
    padding-top: 40px;
    padding-bottom: 30px;
    overflow-y: hidden;
    @media (min-width: $desktops) {
        padding-top: 100px;
        padding-bottom: 10px;
    }
    & > .container{
        @media (min-width: $fullHdDesktops) {
            position: relative;
        }
    }
    .vertical-pill{
        position: absolute;
        border-radius: 100px;
        min-width: 55px;
        min-height: 350px;
        z-index: -1;
        transform: translateY(-100px);
        @media (min-width: $desktops) {
            width: 211px;
            height: 1000px;
            transform: translateY(-350px);
        }
        &.yellow{
            background: #FFBA00;
        }
    }
    h2{
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        ///
        margin-bottom: 20px;
        padding-left: 5px;
        @media (min-width: $tablets) {
            font-size: 24px;
            line-height: 29px;
        }
        @media (min-width: $desktops) {
            font-size: 38px;
            line-height: 57px;
            margin-bottom: 36px;
            padding-left: 0;
        }
    }
    .text{
        @media (min-width: $desktops) {
            margin-bottom: 100px;
        }
        *{
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            @media (min-width: $tablets) {
                font-size: 16px;
                line-height: 22px;
            }
            @media (min-width: $desktops) {
                font-size: 24px;
                line-height: 29px;
            }
        }
        ul{
            list-style: none;
            padding-left: 5px;
            @media (min-width: $desktops) {
                padding-left: 30px;
            }
            li{
                margin-bottom: 20px;
                @media (min-width: $desktops) {
                    margin-bottom: 0;
                }
                &::before {
                    content: '▶';
                    position: absolute;
                    left: 0;
                    color: white;
                    font-size: 18px;
                    @media (min-width: $smallPhones) {
                        left: -20px;
                    }
                    @media (min-width: $tablets) {
                        left: -20px;
                        color: #C4C4C4;
                        font-size: 23px;
                    }
                    @media (min-width: $desktops) {
                        left: 0;
                    }
                }
            }
        }
    }
    .detalhe{
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #FAB80E;

        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;

        @media (min-width: $tablets) {
            font-size: 24px;
            line-height: 32px;
        }
        @media (min-width: $hdDesktops) {
            font-size: 36px;
            line-height: 43px;
        }
    }
    .container{
        @media (min-width: $hdDesktops) {
            max-width: 1240px;
        }
    }
}