@import './variables';
.transf-gestao-talentos{
    padding-top: 40px;
    padding-bottom: 30px;
    overflow-y: hidden;
    @media (min-width: $desktops) {
        padding-top: 100px;
        padding-bottom: 10px;
    }
    & > .container{
        @media (min-width: $fullHdDesktops) {
            position: relative;
        }
    }
    .vertical-pill{
        position: absolute;
        display: none;
        border-radius: 100px;
        min-width: 55px;
        min-height: 350px;
        z-index: -1;
        transform: translateY(-100px);
        @media (min-width: $desktops) {
            display: block;
            width: 211px;
            height: 1200px;
            transform: translateY(-350px);
        }
        &.blue{
            background: #00C9DB;
        }
    }
    h2{
        width: 210px;
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        ///
        margin-bottom: 10px;
        @media (min-width: $tablets) {
            width: unset;
            font-size: 20px;
            line-height: 25px;
        }
        @media (min-width: $desktops) {
            font-size: 38px;
            line-height: 57px;
            margin-bottom: 36px;
            padding-left: 0;
        }
    }
    .text{
        width: 254px;
        margin-bottom: 45px;
        @media (min-width: $tablets) {
            width: 600px;
        }
        @media (min-width: $desktops) {
            margin-bottom: 100px;
            width: 740px;
        }
        *{
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            @media (min-width: $tablets) {
                font-size: 16px;
                line-height: 22px;
            }
            @media (min-width: $desktops) {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
    .container{
        @media (min-width: $hdDesktops) {
            max-width: 1240px;
        }
    }
}