.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#wordpress
/api/.htaccess

#ignora todos os plugins exceto o nosso ;)
!api/wp-content/plugins/
api/wp-content/plugins/*
!api/wp-content/plugins/dna-custom/
!api/wp-content/plugins/advanced-custom-fields-pro/
!api/wp-content/plugins/acf-to-rest-api/

#compiled files
/js/
/img/
/css/
favicon.ico
index.html

#servidor 
.htaccess
fix.php
gulpfile.js
info.php
prototypes  
robots.txt  
yarn.lock