.DS_Store
**/node_modules
**/dist

#plugins
/wp-content/plugins
/wp-content/uploads

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#servidor 
.htaccess
dna_site
fix.php
gulpfile.js
info.php
nrc-ferragens
prestes  
prototypes  
robots.txt  
yarn.lock