@import './variables.scss';
.box-cultural-B{
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
    @media (min-width: $desktops) {
        padding-top: 90px;
        padding-bottom: 100px;
    }
    h2{
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        font-feature-settings: 'liga' off;
        color: #000000;
        ///
        margin-bottom: 30px;
        transform: translateX(10%);
        @media (min-width: $tablets) {
            font-size: 40px;
            line-height: 46px;
            margin-bottom: 40px;
            transform: translateX(0);
        }
        @media (min-width: $desktops) {
            font-size: 38px;
            margin-bottom: 20px;
        }
        &.novo{
            &::before{
                content: "Novo";
                display: inline-block;
                padding: 2px 12px;
                color: #2F0A77;
                text-align: center;
                white-space: nowrap;
                vertical-align: baseline;
                border-radius: 10rem;
                background: #FFBA00;
                border: 2px solid #2F0A77;
                font-weight: 900;
                font-size: 10px;
                line-height: 12px;
                position: absolute;
                margin-left: -80px;
                top: 5px;
                @media (min-width: $tablets) {
                    margin-left: -90px;
                    line-height: 20px;
                }
                @media (min-width: $desktops) {
                    font-size: 14px;
                    line-height: 25px;
                    margin-left: -110px;
                }
            }
        }
    }
    .img-mobile{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        @media (min-width: $tablets) {
            text-align: center;
            width: 60%;
        }
    }
    .text{
        @media (min-width: $tablets) {
            margin-top: 50px;
            margin-bottom: 50px;
        }
        @media (min-width: $desktops) {
            margin-top: 0;
            margin-bottom: 0;
            width: 85%;
            margin-left: auto;
        }
        *{
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            ///
            margin-bottom: 20px;
            width: 101%;
            @media (min-width: $tablets) {
                font-size: 21px;
                line-height: 30px;
                width: 500px;
                margin-left: auto;
                margin-right: auto;
            }
            @media (min-width: $desktops) {
                font-size: 24px;
                line-height: 29px;
                margin-bottom: 40px;
                width: unset;
            }
        }
    }
    button{
        &.purple{
            color: white;
            background: #5F4A87;
            border: 2px solid #2F0A77;
        }
        &.badge{
            padding: 10px 25px;
            font-size: 13px;
            cursor: pointer;
            @media (min-width: $smallPhones) {
                font-size: 15px;
            }
            @media (min-width: $tablets) {
                padding: 14px 35px;
                font-size: 19px;
            }
            @media (min-width: $desktops) {
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
            }
        }
        &:focus{
            outline: none;
        }
    }
    .vertical-center{
        height: fit-content;
        margin-top: auto;
        margin-bottom: auto;
    }
}