@import "./variables.scss";
$cinza: #F3F3F3;
.backwhite{
    background-color: white;
    @media (min-width: $desktops) {
        background-color: $cinza;
    }
}
.absolute.backwhite{
    width: 95%;
    height: 500px;
    position: absolute;
}
.falar-com-um-especialista{
    padding-top: 90px;
    @media (min-width: $smallPhones) {
        padding-top: 110px;
    }
    @media (min-width: $tablets) {
        padding-top: 130px;
    }
    @media (min-width: $fullHdDesktops) {
        padding-top: 180px;
    }
    h1{
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        color: #5F4A87;
        font-size: 26px;
        line-height: 31px;
        margin-bottom: 15px;
        margin-right: auto;
        margin-left: auto;
        width: 95%;
        @media (min-width: $smallPhones) {
            width: 90%;
        }
        @media (min-width: $tablets) {
            font-size: 40px;
            line-height: 46px;
            text-align: center;
            margin-bottom: 40px;
            width: unset;
        }
        @media (min-width: $desktops) {
            font-size: 42px;
            line-height: 50px;
            text-align: left;
            width: unset;
            max-width: 750px;
            margin-bottom: 25px;
        }
    }
    h2{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        font-size: 18px;
        line-height: 24px;
        color: #5F4A87;
        width: 95%;
        @media (min-width: $smallPhones) {
            width: 90%;
        }
        @media (min-width: $tablets) {
            margin-top: 28px;
            margin-bottom: 28px;
            font-size: 24px;
            line-height: 29px;
            text-align: justify;
            width: unset;
        }
    }
    h3{
        font-family: Lato;
        font-style: normal;
        text-align: center;
        font-weight: 700;
        color: #727272;
        font-size: 14px;
        line-height: 22px;
        width: 95%;
        margin-top: 50px;
        @media (min-width: $smallPhones) {
            width: 90%;
        }
        @media (min-width: $tablets) {
            font-size: 21px;
            line-height: 22px;
            text-align: justify;
            width: unset;
        }
    }
    li{
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        color: #727272;
        font-size: 14px;
        line-height: 22px;
        margin-top: 20px;
        width: 95%;
        @media (min-width: $smallPhones) {
            width: 90%;
        }
        @media (min-width: $tablets) {
            margin-top: 20px;
            font-size: 21px;
            line-height: 22px;
        }
    }
    form{
        background: #5F4A87;
        box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        text-align: center;
        margin-top: 30px;
        width: 290px;
        @media (min-width: $smallPhones) {
            width: unset;
        }
        @media (min-width: $tablets) {
            width: 560px;
        }
        select{
            appearance: none;
            background-image: url('../assets/img/svg/arrow-down.svg');
            background-size: 10px;
            background-repeat: no-repeat;
            background-position: top 17px right 15px;
            @media (min-width: $desktops) {
                background-size: unset;
                background-position: top 21px right 15px;
            }
            option{
                font-size: 10px;
                line-height: 10px;
                @media (min-width: $tablets) {
                    font-size: 14px;
                    line-height: 18px;
                }
                @media (min-width: $desktops) {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }
        input, select{
            background-color: #FFFFFF;
            border: 1px solid rgba(66, 82, 110, 0.25);
            border-radius: 60px;
            margin: 6px auto;
            padding: 10px 12px;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #878787;
            height: 40px;
            @media (min-width: $tablets) {
                margin: 10px auto;
                padding: 12px 15px;
                font-size: 14px;
                line-height: 18px;
                height: unset;
            }
            @media (min-width: $desktops) {
                margin: 13px auto;
                padding: 13px 15px;
                font-size: 16px;
                line-height: 22px;
                height: unset;
            }
            &::placeholder, option{
                color: #878787;
            }
        }
        button{
            background: #57DD6D;
            border: 1px solid #70B968;
            border-radius: 33px;;
            font-weight: 900;
            font-size: 8px;
            line-height: 10px;
            text-align: center;
            
            color: #FFFFFF;
            padding: 3px 5px;
            text-transform: uppercase;
            margin-bottom: 20px;
            @media (min-width: $tablets) {
                font-size: 14px;
                line-height: 18px;
                padding: 7px 30px;
                margin-bottom: 40px;
            }
            @media (min-width: $desktops) {
                color: white;
                font-size: 18px;
                line-height: 22px;
                padding: 15px 40px;
                margin-top: 10px;
                margin-bottom: 40px;
            }
        }
    }
    // hsform
    form.hs-form{
        margin-right: auto;
        margin-left: auto;
        padding-top: 20px;
        padding-bottom: 10px;
        @media (min-width: $smallPhones) {
            margin-right: 17px;
            margin-left: 7px;
        }
        @media (min-width: $tablets) {
            margin-right: auto;
            margin-left: auto;
            padding-top: 40px;
            padding-bottom: 20px;
        }
        @media (min-width: $desktops) {
            margin-left: 30px;
        }
        ul.no-list.hs-error-msgs.inputs-list{
            list-style: none;
            padding: 0;
            color: white;
            label{
                display: block;
                font-size: 10px;
                color: white;
                @media (min-width: $tablets) {
                    font-size: 18px;
                }
                @media (min-width: $desktops) {
                    font-size: 22px;
                }
            }
        }          
        .hs_email{
            @media (min-width: $tablets) {
                display: inline-block;
                width: 47%;
                vertical-align: top;
            }
        }
        .hs-dependent-field{
            @media (min-width: $tablets) {
                display: contents;
                .hs_cargorh{
                    display: inline-block;
                    width: 47%;
                    vertical-align: top;
                }
                .hs_company{
                    display: inline-block;
                    width: 47%;
                    vertical-align: top;
                }
                .hs_tamanho_de_empresa{
                    display: inline-block;
                    width: 47%;
                    vertical-align: top;
                }
            }
        }  
        input, select{
            position: relative;
            width: 90%;
            flex: 0 0 90%;
            max-width: 90%;
            &:first-child{
                margin: 6px auto;
                @media (min-width: $tablets) {
                    margin: 10px auto;
                }
                @media (min-width: $desktops) {
                    margin: 13px auto;
                }
            }
        }
        input[type=submit]{
            width: 100%;
            flex: 0 0 60%;
            max-width: 70%;
            //
            box-shadow: 0px 2px 7px #555;
            display: block;
            background: #57DD6D;
            border: 1px solid #70B968;
            border-radius: 33px;
            font-weight: 900;
            line-height: 10px;
            text-align: center;
            color: #FFFFFF;
            text-transform: uppercase;
            margin-bottom: 20px;
            margin-left: auto !important;
            margin-top: 0.5rem !important;
            margin-right: 22px;
            font-size: 12px;
            @media (min-width: $tablets) {
                font-size: 18px;
                margin-right: 30px;
            }
            @media (min-width: $desktops) {
                padding: 19px 30px;
            }
        }
        .cookie-reset-container, .cookie-reset-container * {
            text-align: center;
            font-size: 10px;
            color: whitesmoke;
            @media (min-width: $tablets) {
                font-size: 18px;
            }
            @media (min-width: $desktops) {
                font-size: 22px;
            }
        }
        .field.hs-form-field{
            label *{
                font-size: 8px;
                color: whitesmoke;
                @media (min-width: $tablets) {
                    font-size: 18px;
                }
                @media (min-width: $desktops) {
                    font-size: 22px;
                }
            }
            &.hs-fieldtype-text, &.hs-fieldtype-select{
                label{
                    display: none;
                }
            }
            &.hs-fieldtype-radio{
                ul{
                    list-style-type: none;
                    padding: 0;
                    display: flex;
                    li{
                        display: flex;
                        width: 20%;
                        &:first-child{
                            margin-left: auto;
                        }
                        &:last-child{
                            margin-right: auto;
                        }
                        label{
                            display: flex;
                        }
                    }
                }
            }
        }
    }
    .loading-form{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .titulo-clientes{
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #5F4A87;
        @media (min-width: $tablets) {
            margin-top: 130px;
            margin-bottom: 45px;
            font-size: 24px;
            line-height: 29px;
        }
    }
    .img-clientes{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        @media (min-width: $tablets) {
            display: inline;
            margin-left: 4%;
        }
        @media (min-width: $desktops) {
            display: inline;
            margin-left: 4%;
        }
    }
    .depoimento{
        margin-top: 50px;
        @media (min-width: $tablets) {
            margin-top: 130px;
        }
        img.profile{
            border-radius: 50%;
            margin: 10px;
            height: 120px;
            @media (min-width: $tablets) {
                height: 200px;
            }
            @media (min-width: $desktops) {
                width: 100%;
                height: auto;
                max-width: 216px;
            }
        }
        p.profile{
            font-weight: bold;
            color: #5F4A87;
            font-size: .8rem;
            line-height: 9px;
            margin-bottom: unset;
            @media (min-width: $smallPhones) {
                font-size: 15px;
                line-height: 17px;
            }
            @media (min-width: $tablets) {
                min-width: 275px;
                font-size: 31px;
                line-height: 36px;
            }
        }
        p.identidade{
            font-size: .8rem;
            color: #5F4A87;
            @media (min-width: $smallPhones) {
                font-size: 15px;
                max-width: 245px;
                line-height: 17px;
                margin-left: auto;
                margin-right: auto;
            }
            @media (min-width: $tablets) {
                font-size: 27px;
                min-width: 275px;
                max-width: 440px;
                line-height: 30px;
            }
            @media (min-width: $desktops) {
                font-size: 21px;
                line-height: 25px;
                max-width: 700px;
            }
        }
        .text{
            position: relative;
            margin: 50px auto 0;
            color: #2F0A77;
            max-width: 220px;
            @media (min-width: $smallPhones) {
                max-width: 280px;
            }
            @media (min-width: $tablets) {
                max-width: 80%;
            }
            @media (min-width: $desktops) {
                max-width: unset;
            }
            @media (min-width: $largeDesktops) {
                max-width: 700px;
            }
            p{
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                @media (min-width: $smallPhones) {
                    margin-left: auto;
                    margin-right: auto;
                }
                @media (min-width: $tablets) {
                    max-width: 80%;
                    font-size: 24px;
                    line-height: 28px;
                }
                @media (min-width: $desktops) {
                    font-size: 24px;
                    line-height: 28px;
                }
            }
            .asp{
                position: absolute;
                &.begin{
                    top: -29px;
                    left: -28px;
                    width: 60px;
                }
                &.end{
                    bottom: -25px;
                    right: -10px;
                    width: 60px;            
                }
                @media (min-width: $tablets) {
                    &.begin{
                        top: -42px;
                        left: -37px;
                        width: 80px;
                    }
                    &.end{
                        bottom: 0px;
                        right: 0px;
                        width: 80px;
                    }
                }
            }
        }
    }
}
