@import "./variables.scss";
.font-roboto{
    &, & *{
        font-family: 'Roboto', sans-serif;
    }
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden
}
.materiais{
    padding-top: 60px;
    @media (min-width: $desktops) {
        padding-top: 80px;
    }
}
/// correção da barra de cookie
#hs-eu-cookie-confirmation,
#hs-eu-cookie-confirmation-inner,
#hs-eu-confirmation-button{
    font-size: 18px;
}
#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-confirmation-button {
    font-size: 12px;
    @media (min-width: $tablets) {
        font-size: 14px;
    }
    @media (min-width: $largeDesktops) {
        font-size: 17px;
    }
}