@import './variables.scss';
$purple: #5F4A87;
$purple_border: #2F0A77;
.materiais-rh{
    padding-top: 65px;
    padding-bottom: 60px;
    @media (min-width: $desktops) {
        padding-top: 150px;
        padding-bottom: 240px;
    }
    @media (min-width: $fullHdDesktops) {
        position: relative;
    }
    h1{
        font-weight: bold;
        color: #2F0A77;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 35px;
        @media (min-width: $smallPhones) {
            font-size: 28px;
            line-height: 28px;
        }
        @media (min-width: $tablets) {
            font-size: 32px;
            line-height: 32px;
        }
        @media (min-width: $desktops) {
            max-width: 800px;
            font-size: 42px;
            line-height: 50px;
            margin-bottom: 30px;
        }
    }
    .text, .text *{
        color: #A1A9B7;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 35px;
        @media (min-width: $tablets) {
            font-size: 26px;
            line-height: 26px;
        }
        @media (min-width: $desktops) {
            font-size: 34px;
            line-height: 41px;
            margin-bottom: 42px;
        }
    }
    img{
        position: absolute;
        right: -100px;
        bottom: -70px;
        width: 800px;
        z-index: -1;
    }
    .search{
        margin-bottom: 12px;
        @media (min-width: $desktops) {
            margin-bottom: 15px;
        }
        .search-box{
            border: 2px solid #5F4A87;
            box-sizing: border-box;
            border-radius: 33px;
            width: 100%;
            appearance: none;
            background-image: url('../assets/img/svg/lupa.svg');
            background-size: 18px;
            background-repeat: no-repeat;
            padding-left: 34px;
            background-position: top 8px left 15px;
            @media (min-width: $desktops) {
                background-size: unset;
                background-position: top 9px left 15px;
                padding-left: 54px;
            }

            
        }
    }
    .select-filtro{
        display: flex;
        p{
            color: #2F0A77;
            font-weight: bold;
            font-size: 13px;
            line-height: 16px;
            min-width: 100px;
            padding-top: 1px;
            @media (min-width: $desktops) {
                font-size: 18px;
                line-height: 22px;
            }
        }
        select{
            border: unset;
            color: #2F0A77;
            width: 30%;
            border-radius: 30px;
            font-size: 18px;
            height: 18px;
            line-height: 22px;
            font-weight: bold;
            font-size: 13px;
            line-height: 16px;
            @media (min-width: $desktops) {
                width: 20%;
                font-size: 18px;
                height: 22px;
                line-height: 22px;
                margin-left: 27px;
            }
            option{
                @media (min-width: $desktops) {
                    font-size: 18px;
                    height: 22px;
                }   
            }
        }
    }
    .col-lg-70{
        @media (min-width: $desktops) {
            flex: 0 0 70%;
            max-width: 70%;
        }
    }
}