@import "./variables.scss";
$cinza: #F3F3F3;
.backwhite{
    background-color: white;
    @media (min-width: $desktops) {
        background-color: $cinza;
    }
}
.absolute.backwhite{
    width: 95%;
    height: 500px;
    position: absolute;
}
.pedir-demo{
    padding-top: 90px;
    @media (min-width: $smallPhones) {
        padding-top: 110px;
    }
    @media (min-width: $tablets) {
        padding-top: 130px;
    }
    @media (min-width: $fullHdDesktops) {
        padding-top: 180px;
    }
    h1{
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 15px;
        margin-right: auto;
        margin-left: auto;
        @media (min-width: $tablets) {
            font-size: 40px;
            line-height: 46px;
            text-align: center;
            margin-bottom: 40px;
            width: unset;
        }
        @media (min-width: $desktops) {
            font-size: 48px;
            line-height: 58px;
            text-align: center;
            width: unset;
            max-width: 750px;
            margin-bottom: 25px;
        }
    }
    p{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        @media (min-width: $tablets) {
            font-size: 22px;
            line-height: 38px;
            margin-bottom: 120px;
            width: 440px;
        }
        @media (min-width: $desktops) {
            font-size: 33px;
            line-height: 40px;
            text-align: center;
        }
        &.first{
            margin-bottom: 25px;
            margin-left: auto;
            margin-right: auto;
            color: #5F4A87;
            @media (min-width: $smallPhones) {
                margin-right: 17px;
                margin-left: 7px;
            }
            @media (min-width: $tablets) {
                margin-bottom: 35px;
                width: 500px;
                margin-right: auto;
                margin-left: auto;
                text-align: center;
            }
            @media (min-width: $desktops) {
                margin-bottom: 75px;
                width: unset;
                color: black;
            }
        }
        &.detail{
            font-size: 18px;
            text-align: center;
            text-align: left;

            color: #5F4A87;
            margin-top: 50px;
            margin-bottom: 0;
            padding-bottom: 90px;
            margin-right: auto;
            margin-left: auto;
            @media (min-width: $smallPhones) {
                margin-right: 30px;
                margin-left: 30px;
            }
            @media (min-width: $tablets) {
                font-size: 24px;
                line-height: 32px;
                text-align: left;
                margin-top: 75px;
                width: 300px;
                margin-left: auto;
                margin-right: 50px;
            }
            @media (min-width: $desktops) {
                font-weight: bold;
                font-size: 36px;
                line-height: 43px;
                margin-top: 120px;
                width: unset;
                max-width: 490px;
                margin-right: unset;
                margin-left: auto;
                padding-bottom: 30px;
            }
        }
        b, span, strong{
            font-size: inherit;
        }
    }
    h2{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        margin-bottom: 40px;
        width: 210px;
        @media (min-width: $tablets) {
            font-size: 28px;
            line-height: 43px;
            margin-bottom: 100px;
            width: 590px;
        }
        @media (min-width: $desktops) {
            font-size: 36px;
            line-height: 43px;
            margin-bottom: 100px;
            width: 570px;
        }
    }
    form{
        background: #32A0DA;
        box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        text-align: center;
        width: 290px;
        @media (min-width: $smallPhones) {
            width: unset;
        }
        @media (min-width: $tablets) {
            width: 500px;
        }
        @media (min-width: $desktops) {
            width: 600px;
        }
        // input:first-child{
        //     margin-top: 20px;
        //     @media (min-width: $tablets) {
        //         margin-top: 40px;
        //     }
        // }
        select{
            appearance: none;
            background-image: url('../assets/img/svg/arrow-down.svg');
            background-size: 10px;
            background-repeat: no-repeat;
            background-position: top 17px right 15px;
            @media (min-width: $desktops) {
                background-size: unset;
                background-position: top 21px right 30px;
            }
            option{
                font-size: 10px;
                line-height: 10px;
                @media (min-width: $tablets) {
                    font-size: 14px;
                    line-height: 18px;
                }
                @media (min-width: $desktops) {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }
        input, select{
            background-color: #FFFFFF;
            border: 1px solid rgba(66, 82, 110, 0.25);
            border-radius: 60px;
            margin: 6px auto;
            padding: 10px 12px;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #878787;
            height: 40px;
            @media (min-width: $tablets) {
                margin: 10px auto;
                padding: 12px 15px;
                font-size: 14px;
                line-height: 18px;
                height: unset;
            }
            @media (min-width: $desktops) {
                margin: 13px auto;
                padding: 13px 30px;
                font-size: 18px;
                line-height: 22px;
                height: unset;
            }
            &::placeholder, option{
                color: #878787;
            }
        }
        button{
            background: #FAB80E;
            border: 1px solid #CC9C1F;
            border-radius: 33px;;
            font-weight: 900;
            font-size: 8px;
            line-height: 10px;
            text-align: center;
            
            color: #2F0A77;
            padding: 3px 5px;
            text-transform: uppercase;
            margin-bottom: 20px;
            @media (min-width: $tablets) {
                font-size: 14px;
                line-height: 18px;
                padding: 7px 30px;
                margin-bottom: 40px;
            }
            @media (min-width: $desktops) {
                color: white;
                font-size: 18px;
                line-height: 22px;
                padding: 15px 40px;
                margin-top: 10px;
                margin-bottom: 40px;
            }
        }
    }
    // hsform
    form.hs-form{
        margin-right: auto;
        margin-left: auto;
        padding-top: 20px;
        padding-bottom: 10px;
        @media (min-width: $smallPhones) {
            margin-right: 17px;
            margin-left: 7px;
        }
        @media (min-width: $tablets) {
            margin-right: auto;
            margin-left: auto;
            padding-top: 40px;
            padding-bottom: 20px;
        }
        ul.no-list.hs-error-msgs.inputs-list{
            list-style: none;
            padding: 0;
            color: white;
            label{
                display: block;
                font-size: 10px;
                color: white;
                @media (min-width: $tablets) {
                    font-size: 18px;
                }
                @media (min-width: $desktops) {
                    font-size: 22px;
                }
            }
        }
        input, select{
            position: relative;
            width: 90%;
            flex: 0 0 90%;
            max-width: 90%;
            &:first-child{
                margin: 6px auto;
                @media (min-width: $tablets) {
                    margin: 10px auto;
                }
                @media (min-width: $desktops) {
                    margin: 13px auto;
                }
            }
        }
        input[type=submit]{
            width: 100%;
            flex: 0 0 60%;
            max-width: 70%;
            //
            box-shadow: 0px 2px 7px #555;
            display: block;
            background: #FAB80E;
            border: 1px solid #CC9C1F;
            border-radius: 33px;
            font-weight: 900;
            line-height: 10px;
            text-align: center;
            color: #2F0A77;
            text-transform: uppercase;
            margin-bottom: 20px;
            margin-left: auto !important;
            margin-top: 0.5rem !important;
            margin-right: 15px;
            font-size: 12px;
            @media (min-width: $tablets) {
                margin-right: 30px;
            }
            @media (min-width: $desktops) {
                padding: 19px 30px;
            }
        }
        .cookie-reset-container, .cookie-reset-container * {
            text-align: center;
            font-size: 10px;
            color: whitesmoke;
            @media (min-width: $tablets) {
                font-size: 18px;
            }
            @media (min-width: $desktops) {
                font-size: 22px;
            }
        }
        .field.hs-form-field{
            label *{
                font-size: 8px;
                color: whitesmoke;
                @media (min-width: $tablets) {
                    font-size: 18px;
                }
                @media (min-width: $desktops) {
                    font-size: 22px;
                }
            }
            &.hs-fieldtype-text, &.hs-fieldtype-select{
                label{
                    display: none;
                }
            }
            &.hs-fieldtype-radio{
                ul{
                    list-style-type: none;
                    padding: 0;
                    display: flex;
                    li{
                        display: flex;
                        width: 20%;
                        &:first-child{
                            margin-left: auto;
                        }
                        &:last-child{
                            margin-right: auto;
                        }
                        label{
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}
