@import './variables.scss';
.people-analytics-view{
    padding-top: 60px;
    @media (min-width: $desktops) {
        padding-top: 80px;
    }
    .btn-color{
        cursor: pointer;
        color: white;
        background: #0EA2D0;
        border: 2px solid #00C9DB;
    }
    .pt-160{
        padding-top: 160px;
    }
}