@import './variables.scss';
.politica-privacidade{
    padding-top: 150px;
    padding-bottom: 50px;
    @media (min-width: $desktops) {
        padding-top: 190px;
        padding-bottom: 175px;
    }
    h1{
        font-weight: bold;
        font-size: 31px;
        line-height: 37px;
        text-align: center;
        margin-bottom: 30px;
        width: 220px;
        margin-left: auto;
        margin-right: auto;
        @media (min-width: $tablets) {
            font-size: 40px;
            line-height: 46px;
            margin-bottom: 40px;
            width: unset;
        }
        @media (min-width: $desktops) {
            font-size: 48px;
            line-height: 58px;
            text-align: left;
            margin-bottom: 60px;
        }
    }
    h2{
        font-size: 18px;
        line-height: 24px;
        color: #5F4A87;
        margin-bottom: 170px;
        width: 235px;
        margin-left: auto;
        text-align: center;
        margin-right: auto;
        @media (min-width: $tablets) {
            font-size: 22px;
            line-height: 30px;
            margin-bottom: 120px;
            width: 440px;
        }
        @media (min-width: $desktops) {
            font-size: 28px;
            line-height: 35px;
            text-align: left;
            width: unset;
        }
    }
    .text{
        text-align: justify;
        color: #5F4A87;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 260px;
        @media (min-width: $tablets) {
            width: 600px;
        }
        @media (min-width: $desktops) {
            margin-bottom: 120px;
            width: 960px;
        }
        *{
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            @media (min-width: $tablets) {
                font-size: 20px;
                line-height: 28px;
            }
            @media (min-width: $desktops) {
                font-size: 24px;
                line-height: 35px;
            }
        }
    }
    p.nota-final{
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        text-align: right;
        color: #5F4A87;
        width: 240px;
        margin-left: auto;
        @media (min-width: $tablets) {
            font-size: 20px;
            line-height: 28px;
            width: 350px;
        }
        @media (min-width: $desktops) {
            font-size: 24px;
            line-height: 35px;
            width: 430px;
        }
    }
}