@import "./variables.scss";
.font-roboto{
    &, & *{
        font-family: 'Roboto', sans-serif;
    }
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.imprensa{
    background: #F3F3F3;
    padding-top: 60px;
    @media (min-width: $desktops) {
        padding-top: 80px;
    }
    .over-x-h{
        overflow-x: hidden;
    }
    .cabecalho{
        text-align: center;
        .titulo{
            color: #2F0A77;
            font-weight: 700;
            padding-top: 80px;
            cursor: pointer;
            font-size: 24px;
            line-height: 29px;
            @media (min-width: $desktops) {
                font-size: 42px;
                line-height: 30px;
                padding-top: 90px;
            }
        }
        .subtitulo{
            color: #A1A9B7;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            max-width: 250px;
            margin-left: auto;
            margin-right: auto;
            @media (min-width: $desktops) {
                font-size: 34px;
                line-height: 41px;
                font-weight: 400;
                max-width: unset;
            }
        }
        .search{
            margin-bottom: 12px;
            margin-left: auto;
            margin-right: auto;
            width: 85%;
            @media (min-width: $desktops) {
                margin-bottom: 20px;
                margin-top: 45px;
                width: 65%;
            }
            .search-box{
                border: 2px solid #5F4A87;
                box-sizing: border-box;
                border-radius: 33px;
                width: 100%;
                outline: none;
                appearance: none;
                background-image: url('../assets/img/svg/lupa.svg');
                background-size: 18px;
                background-repeat: no-repeat;
                padding-left: 34px;
                background-position: top 8px left 15px;
                @media (min-width: $tablets) {
                    background-size: 20px;
                    background-position: top 9px left 15px;
                    padding-left: 44px;
                    margin-bottom: 15px;
                }
                @media (min-width: $desktops) {
                    background-size: unset;
                    background-position: top 9px left 15px;
                    padding-left: 54px;
                }  
            }
            .data-filtro{
                justify-content: center;
                @media (min-width: $tablets) {
                    display: flex;
                    justify-content: unset;
                    margin-left: 25px;
                }
                .data-titulo{
                    display: block;
                    p{
                        color: #2F0A77;
                        font-weight: bold;
                        font-size: 13px;
                        line-height: 16px;
                        padding-top: 13px;
                        margin-bottom: unset;
                        @media (min-width: $tablets) {
                            margin-right: 10px;
                            font-size: 16px;
                            line-height: 22px;
                            padding-top: 1px;
                        }
                        @media (min-width: $desktops) {
                            font-size: 18px;
                            line-height: 22px;
                            margin-left: 25px;
                        }
                    }
                }                
                .data-content{
                    display: inline-flex;                 
                    p{
                        margin-left: 10px;
                        margin: 5px 10px 1px 10px;
                        color: #2F0A77;
                        font-weight: bold;
                        font-size: 13px;
                        line-height: 16px;
                        padding-top: 1px;
                        @media (min-width: $tablets) {
                            margin: 0px 10px;
                            font-size: 16px;
                            line-height: 22px;
                        }
                        @media (min-width: $desktops) {
                            font-size: 18px;
                            line-height: 22px;
                        }
                    }
                    .dt-filtro{
                        background: #F3F3F3;
                        border: 1px solid #5F4A87;
                        box-sizing: border-box;
                        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
                        border-radius: 33px;
                        padding-left: 10px;
                        padding-right: 6px;
                        margin-top: 3px;
                        color: #727272;
                        font-size: 13px;
                        width: 120px;
                        height: 25px;
                        @media (min-width: $desktops) {
                            width: 120px;
                            height: 22px;
                        }
                    }
                    .dt-filtro::-webkit-calendar-picker-indicator {
                        margin-left: 0px;
                    }
                    .has-date::before {
                        content: attr(placeholder) !important;
                        color: #aaa;
                        font-size: 13px;
                        padding-left: 10px;
                        padding-right: 6px;
                    }
                    .has-date:focus:before,
                    .has-date:valid:before {
                        content: "";
                    }
                }
            }
        }
    }
    .no-result{
        text-align: center;
        .no-result-title{
            padding: 0px 30px 80px 30px;
            font-weight: bold;
            color: #2F0A77;
            font-size: 35px;
            line-height: 45px;
            @media (min-width: $desktops) {
                font-size: 50px;
                line-height: 61px;
            }
        }
        .no-result-desc{
            padding: 0px 40px 40px 40px;
            font-weight: bold;
            color: #5F4A87;
            font-size: 23px;
            line-height: 35px;
            @media (min-width: $desktops) {
                font-size: 35px;
                line-height: 49px;
            }
        }
    }

    .contato-imprensa{
        text-align: center;
        padding-bottom: 30px;
        padding-top: 50px;
        @media (min-width: $smallPhones) {
            padding-top: 60px;
        }
        @media (min-width: $tablets) {
            padding-top: 80px;
        }
        @media (min-width: $fullHdDesktops) {
            padding-top: 100px;
        }
        .title-contato{
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            text-align: unset;
            font-size: 40px;
            line-height: 46px;
            margin-bottom: unset;
            width: unset;
            padding-bottom: 20px;
            @media (min-width: $desktops) {
                padding-top: unset;
                padding-bottom: 40px;
                font-size: 48px;
                line-height: 58px;
            }
        }
        .info{
            width: unset;
            text-align: center;
            margin-bottom: unset;
            padding-bottom: 5px;
            font-size: 18px;
            line-height: 24px;
            @media (min-width: $desktops) {
                padding-bottom: 20px;
                font-size: 33px;
                line-height: 40px;
            }
        }
    }
}
/// correção da barra de cookie
#hs-eu-cookie-confirmation,
#hs-eu-cookie-confirmation-inner,
#hs-eu-confirmation-button{
    font-size: 18px;
}
#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-confirmation-button {
    font-size: 12px;
    @media (min-width: $tablets) {
        font-size: 14px;
    }
    @media (min-width: $largeDesktops) {
        font-size: 17px;
    }
}