@import '@/assets/scss/variables.scss';
.trial-modal {
    background: #5F4A87EE;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 100000;
    display: none;
    overflow-x: scroll;
    &.rec-seu-rel-rotat{
        background: #70B968EE;
    }
}
.modal-out{
    background-color: #F3F3F3;
    border-radius: 10px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
    margin-top: 50px;
    margin-bottom: 50px;
    .close{
        font-family: monospace;
        font-size: 14px;
        color: white;
        background-color: #FFBA00;
        border-radius: 50%;
        padding: 5px 10px 7px;
        position: absolute;
        right: 15px;
        top: 15px;
        cursor: pointer;
        &.blue{
            background-color: #39BAD0;
        }
    }
    .head{
        margin-top: 15px;
        margin-bottom: 0;
        text-align: center;
        @media (min-width: $desktops) {
            margin-top: 15px;
        }
        h3{
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            color: #878787;
            @media (min-width: $desktops) {
                font-size: 40px;
                line-height: 48px;
            }
        }
        p{
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            color: #878787;
            /* width: 140px; */
            margin-bottom: .5rem;
            @media (min-width: $desktops) {
                font-size: 18px;
                line-height: 25px;
                width: 400px;
            }
        }
    }
    form{
        text-align: center;
        width: 290px;
        @media (min-width: $desktops) {
            width: 800px;
        }
        input:first-child{
            margin-top: 0;
        }
        select{
            appearance: none;
            background-image: url('../assets/img/svg/arrow-down.svg');
            background-size: 10px;
            background-repeat: no-repeat;
            background-position: top 18px right 15px;
            @media (min-width: $desktops) {
                background-size: unset;
                background-position: top 22px right 30px;
            }
        }
        input, select{
            background-color: #FFFFFF;
            border: 1px solid rgba(66, 82, 110, 0.25);
            box-shadow: inset 0px 1px 3px #DDDDDD;
            border-radius: 60px;
            margin: 6px auto;
            padding: 10px 12px;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #878787;
            height: 40px;
            @media (min-width: $desktops) {
                margin: 10px auto;
                padding: 15px 30px;
                font-size: 18px;
                line-height: 22px;
                height: unset;
            }
            &::placeholder, option{
                color: #878787;
                font-size: 14px;
                line-height: 16px;
                @media (min-width: $desktops) {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
            option{
                font-size: 12px;
            }
        }
        button{
            background: #FAB80E;
            border: 1px solid #CC9C1F;
            border-radius: 33px;;
            font-weight: 900;
            font-size: 14px;
            line-height: 1px;
            height: 40px;
            text-align: center;
            color: #2F0A77;
            padding: 20px 20px;
            text-transform: uppercase;
            margin-bottom: 20px;
            cursor: pointer;
            @media (min-width: $desktops) {
                color: white;
                font-size: 18px;
                line-height: 22px;
                padding: 15px 40px;
                margin-top: 10px;
                margin-bottom: 40px;
                height: unset;
            }
            &.blue{
                background: #39BAD0;
                border: 2px solid #288FA0;
                color: white;
            }
        }
        .msg *{
            font-weight: bold;
            font-size: 8px;
            line-height: 10px;
            text-align: center;
            color: #FFBA00;
            width: 100%;
            @media (min-width: $desktops) {
                font-size: 18px;
                line-height: 32px;
            } 
        }
    }
}